doctype html
html
    head
        title W3-schools replica
        meta(name="description", content="This is a HTML replica of w3-schools")
        link(rel="stylesheet", href="style.css")
    body
        header
            a.current(href="/") Home
            a(href="/html") HTML
            a(href="/css") Css
            a(href="/javascript") Javascript

        article
            h2 This is a replica of w3schools.com #[a(href="/html") Check it out!]
            p Some content 
            h1 HTML
            p Some content #[a(href="/html") Check it out!]
            h1 CSS
            p Some content #[a(href="/css") Check it out!]
            h1 JavaSript
            p Some content #[a(href="/javascript") Check it out!]

        nav
            h3 HTML and CSS
            a(href="/html") Learn HTML
            a(href="/css") Learn CSS
            a(href="/javascript") Learn Javascript

        footer &copy; 2018 My name is awesome!